<footer class="pie-pagina">
    <div class="grupo1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="assets/its.png" alt="imagenlogo"> 
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, accusantium!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, accusantium!</p>
        </div>
        <div class="box">

            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="https://www.instagram.com/innovtechvr/" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-linkedin"></a>
                <a href="#" class="fa fa-youtube"></a>
            </div>
        </div>
    
    </div>
    <div class="grupo2">
        <small>&copy;2022 <b>Innov Tech Solutions</b> - Todos Los Derechos Reservados</small>
    </div>


</footer>
