<body>
    

<div class="container">
    <div class="contact-box">
        <div class="left">
            <img src="assets/helocopter.jpg" alt="">
        </div>
        <div class="right">
            <h2>Contáctanos!</h2>
            <input type="text" class="field" placeholder="Nombre">
            <input type="text" class="field" placeholder="Email">
            <input type="text" class="field" placeholder="Teléfono">
            <textarea placeholder="Mensaje" class="field"></textarea>
            <button class="btn">Enviar</button>
        </div>
    </div>
</div>
</body>

<app-footer></app-footer>