
<div class="container">
    <h2>Casas</h2>
<hr>
    <div class="row">
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/caravana.jpeg">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Caravana</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">hey</p>
                <p><strong>Price:</strong> 2€ </p>
                <button class="btn btn-primary" >Add to cart</button>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/chalet.jpeg" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;"> Chalet</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">hey</p>
                <p><strong>Price:</strong> 4€ </p>
                <button class="btn btn-primary" >Add to cart</button>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/mansion.jpeg" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Mansion</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">hey</p>
                <p><strong>Price:</strong> 6€ </p>
                <button class="btn btn-primary" >Add to cart</button>
            </div>
        </ng-container>

        <h2>Coches</h2>
        <hr>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/seat.jpeg" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Seat Ibiza</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">hey</p>
                <p><strong>Price:</strong> 2€ </p>
                <button class="btn btn-primary" >Add to cart</button>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/descarga.jpeg" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Mercedes</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">hey</p>
                <p><strong>Price:</strong> 4€</p>
                <button class="btn btn-primary" >Add to cart</button>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/formula1.jpeg" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Formula 1</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">hey</p>
                <p><strong>Price:</strong> 5€ </p>
                <button class="btn btn-primary" >Add to cart</button>
            </div>
        </ng-container>
        
        <h2>Ropa</h2>
        <hr>

        <ng-container>
            <div class="card col-md-3">
                <img src="assets/nba.jpeg" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Camiseta Nba</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">hey</p>
                <p><strong>Price:</strong> 1€</p>
                <button class="btn btn-primary" >Add to cart</button>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/sudadera.jpeg">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Sudadera Fila</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">hey</p>
                <p><strong>Price:</strong> 1€ </p>
                <button class="btn btn-primary" >Add to cart</button>
            </div>
        </ng-container>
        <ng-container>
            <div class="card col-md-3">
                <img src="assets/traje.webp">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">Traje</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">hey</p>
                <p><strong>Price:</strong>2€ </p>
                <button class="btn btn-primary" >Add to cart</button>
            </div>
        </ng-container>

    </div>
</div>








<app-footer></app-footer>