<table class="table">
<thead>
   <tr>
    <th scope="col">id</th>
    <th scope="col">Nombre</th>
    <th scope="col">Apellido</th>
    <th scope="col">Género</th>
    <th scope="col">Edad</th>
    <th scope="col">Transporte</th>
    <th scope="col">Codigo postal</th>
    <th scope="col">Amigos</th>
    <th scope="col">Distancia</th>


   </tr> 
</thead>

<tbody>
   <tr *ngFor="let cliente of clientes">
    
      <!-- url: https://apiangular-7804c.web.app/ -->

   <td class="defecto"> {{cliente.id_user}}</td>
    <td class="defecto">{{cliente.name_user}}</td>
    <td class="defecto">{{cliente.last_name_user}}</td>
    <td class="defecto">{{cliente.gender_user}}</td>
    <td class="defecto">{{cliente.age_user}}</td>
    <td class="defecto"> {{cliente.transport_user}}</td>
    <td class="defecto"> {{cliente.cp_user}}</td>
    <td class="defecto"> {{cliente.name_friend}}</td>
    <td class="defecto"> {{cliente.distance}}</td>


  

</tr>

</tbody>
</table>



<app-footer></app-footer>
