
<thead>
   <tr>
    <th>Perfil</th>
    <th>Nombre</th>
    <th>Procedencia</th>
    <th>Equipo</th>
    <th>Posición</th>
    <th>Años NBA</th>
    <th>Salario</th>
    
   </tr> 
</thead>
<hr>
<tbody>
   <tr>
    
   


  
    <td class="defecto">Jaime</td>
    <td class="defecto">h</td>
    <td class="defecto">hf</td>
    <td class="defecto">verv</td>
    <td class="defecto">wvvwv</td>
    <td class="defecto">wfuwbvwhue </td>
    <td class="defecto">cbwuvbevq3uhrbvuy3 </td>


  
<hr>
</tr>
</tbody>

<app-footer></app-footer>
