<h2 class="entrantes">Todos nuestros entrantes</h2>

<div class="textoEntrantes">
    <p>Nuestra carta de entrantes está basada en Almejas a la marinera, Mejillones al vapor y Pulpo. Todos estos productos son frescos y los cocinamos con paciencia y entusiasmo para obtener todo su sabor y textura.</p>
</div>


<div class="almejas">
    <p class="destacado">Almejas a la marinera</p>
    <p>Nuestras almejas de carril cocinadas con todo el cariño para satisfacer a todos los públicos.</p>
    <img src="img/almejas.jpeg" alt="Almejas">
</div>


<h2 class="entrantes">Todos nuestros entrantes</h2>

<div class="textoEntrantes">
    <p>Nuestra carta de entrantes está basada en Almejas a la marinera, Mejillones al vapor y Pulpo. Todos estos productos son frescos y los cocinamos con paciencia y entusiasmo para obtener todo su sabor y textura.</p>
</div>


<div class="almejas">
    <p class="destacado">Almejas a la marinera</p>
    <p>Nuestras almejas de carril cocinadas con todo el cariño para satisfacer a todos los públicos.</p>
    <img src="img/almejas.jpeg" alt="Almejas">
</div>













<app-footer></app-footer>